<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
    </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Internship Portal
      <!-- <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
      </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li class="active ">
        <a href="./dashboard.html">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>


      <% if user_signed_in? %>
        <li>
          <a href="/internships">
            <i class="nc-icon nc-diamond"></i>
            <p>Internships</p>
          </a>
        </li>

        <li>
          <a href="/companies">
            <i class="nc-icon nc-pin-3"></i>
            <p>Companies</p>
          </a>
        </li>
        <li>
          <a href="/applications">
            <i class="nc-icon nc-bell-55"></i>
            <p>My Applications</p>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>

      <% end %>

    </ul>
  </div>
</div>